body {
  background: #438861;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

#run-test-button {
  text-align: center;
  display: inline-block;
  padding: 15px 30px;
  color: #222;
  margin: 50px auto 0 auto;
  background: hsla(0, 0%, 0%, .4);
  font-size: 3em;
  border-radius: 10px;
  border: 5px solid #222;
  transition: .5s;
  font-weight: bold;
}

#run-test-button:hover {
  cursor: pointer;
  color: #3d3;
}

#checks {
  background: hsla(0, 0%, 0%, .4);
  text-align: left;
  width: 75%;
  margin: 50px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #222;
  font-size: 1.2em;
}

.passed,
.failed {
  letter-spacing: .1em;
}

.passed {
  color: #0f0;
}

.failed {
  color: red;
}