html,
body,
.page-view,
.header-text {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif; 
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.main-header {
  width: 100%;
  height: 100%;
  display: table;
  background: mediumspringgreen;
}

.header-text {
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  letter-spacing: .1em;
}

.header-text h1 {
  font-size: 4.5em; 
  color: azure;
  margin-bottom: 10px;
}

.header-text h3 {
  font-size: 1.5em;
  color: #444; 
  margin-bottom: 30px;
}

.header-text a {
  color: white;
  text-decoration: none;
  border: 3px solid white;
  padding: 10px 20px;
  border-radius: 10px
}