html,
body,
.page-view,
.header-text {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed; 
  text-align: center;
  width: 100%;
}

.nav-button {
  display: inline-block;
  margin: 20px 15px 0 15px;
}

.nav-button,
.nav-button a{
  z-index: 100;
  width: 30px;
  height: 30px; 
  border-radius: 50%;
}

.nav-button a {
  background: azure;
  display: block;
  border: 3px solid azure;
  transition: .5s;
}

.nav-button a:hover,
.nav-button a.active {
  border-color: #777; 
}

.main {
  width: 100%;
  height: 100%;
  display: table;
  background: mediumspringgreen;
}

.main-text {
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  letter-spacing: .1em;
}

.main-text h1 {
  font-size: 4.5em; 
  color: azure;
  margin-bottom: 10px;
}

.main-text h3 {
  font-size: 1.5em;
  color: #444; 
  margin-bottom: 30px;
}

.main-text a {
  color: azure;
  text-decoration: none;
  border: 3px solid azure;
  padding: 10px 20px;
  border-radius: 10px;
  transition: .5s;
  font-weight: bold;
  background: hsla(0,0%,0%,.2);
}

.main-text a:hover {
  color: #444;
  border-color: #444;
}
